apiVersion: apps/v1
kind: Deployment
metadata:
  name: cluster-autoscaler
spec:
  template:
    spec:
      containers:
      - name: cluster-autoscaler
        env:
        - name: CLUSTER_NAME
          value: "blocksecops-eks-staging"
        command:
        - /bin/sh
        - -c
        - |
          ./cluster-autoscaler \
            --v=4 \
            --stderrthreshold=info \
            --cloud-provider=aws \
            --skip-nodes-with-local-storage=false \
            --expander=least-waste \
            --node-group-auto-discovery=asg:tag=k8s.io/cluster-autoscaler/enabled,k8s.io/cluster-autoscaler/${CLUSTER_NAME} \
            --balance-similar-node-groups \
            --skip-nodes-with-system-pods=false \
            --scale-down-delay-after-add=10m \
            --scale-down-unneeded-time=10m \
            --scale-down-utilization-threshold=0.5 \
            --max-node-provision-time=15m
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 100m
            memory: 256Mi