apiVersion: apps/v1
kind: Deployment
metadata:
  name: cluster-autoscaler
spec:
  replicas: 2
  template:
    spec:
      containers:
      - name: cluster-autoscaler
        env:
        - name: CLUSTER_NAME
          value: "solidity-security-eks-production"
        command:
        - sh
        - -c
        - |
          ./cluster-autoscaler \
            --v=2 \
            --stderrthreshold=info \
            --cloud-provider=aws \
            --skip-nodes-with-local-storage=false \
            --expander=least-waste \
            --node-group-auto-discovery=asg:tag=k8s.io/cluster-autoscaler/enabled,k8s.io/cluster-autoscaler/$CLUSTER_NAME \
            --balance-similar-node-groups \
            --skip-nodes-with-system-pods=false \
            --scale-down-delay-after-add=10m \
            --scale-down-unneeded-time=10m \
            --scale-down-utilization-threshold=0.5 \
            --max-node-provision-time=15m \
            --max-nodes-total=100
        resources:
          requests:
            cpu: 100m
            memory: 300Mi
          limits:
            cpu: 200m
            memory: 500Mi
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: cluster-autoscaler
              topologyKey: kubernetes.io/hostname