apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Vault for Local Development
namespace: vault-local

resources:
- vault-namespace.yaml
- ../../base/vault/

patchesStrategicMerge:
- vault-statefulset-patch.yaml
- vault-configmap-patch.yaml

images:
- name: vault
  newTag: "1.12.1"

labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: infrastructure-secrets
    app.kubernetes.io/part-of: solidity-security-platform
    app.kubernetes.io/managed-by: kustomize
    environment: local
    team: infrastructure