apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    email: admin@advancedblockchainsecurity.com
    solvers:
    - dns01:
        cloudflare:
          email: admin@advancedblockchainsecurity.com
      selector:
        dnsZones:
        - "advancedblockchainsecurity.com"
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    email: admin@advancedblockchainsecurity.com
    solvers:
    - dns01:
        cloudflare:
          email: admin@advancedblockchainsecurity.com
      selector:
        dnsZones:
        - "advancedblockchainsecurity.com"