apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: vault-production

namespace: vault-production

labels:
- pairs:
    app.kubernetes.io/instance: production-vault
    environment: production
    team: devops

resources:
  - ../../../base/vault
  - namespace.yaml
  - pdb.yaml
  - backup-cronjob.yaml
  - backup-configmap.yaml
  - externalsecret.yaml
  - vault-policy.yaml
  - clusterrolebinding.yaml

patches:
- path: statefulset-patch.yaml
- path: configmap-patch.yaml
- target:
    kind: StatefulSet
    name: vault
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 2