apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: infrastructure-production
  annotations:
    config.kubernetes.io/local-config: "true"

resources:
  - ../../../base/aws-load-balancer-controller
  - ../../../base/cert-manager
  - ../../../base/external-secrets
  - ../../../base/monitoring
  - namespace-patches.yaml

patches:
  - path: alb-controller-patch.yaml
    target:
      kind: ServiceAccount
      name: aws-load-balancer-controller
      namespace: kube-system
  - path: alb-controller-deployment-patch.yaml
    target:
      kind: Deployment
      name: aws-load-balancer-controller
      namespace: kube-system
  - path: cert-manager-staging-patch.yaml
    target:
      kind: ClusterIssuer
      name: letsencrypt-staging
  - path: cert-manager-production-patch.yaml
    target:
      kind: ClusterIssuer
      name: letsencrypt-production
  - path: external-secrets-patch.yaml
    target:
      kind: ServiceAccount
      name: external-secrets
      namespace: external-secrets-production
  - path: external-secrets-vault-patch.yaml
    target:
      kind: ClusterSecretStore
      name: vault-backend
  - path: external-secrets-aws-patch.yaml
    target:
      kind: ClusterSecretStore
      name: aws-secrets-manager

labels:
  - pairs:
      environment: production
      app.kubernetes.io/instance: production