apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: eks-production

labels:
- pairs:
    app.kubernetes.io/instance: production-eks
    environment: production
    team: devops

resources:
  - cluster-autoscaler/
  - metrics-server/
  - ebs-csi-driver/
  - aws-load-balancer-controller/
  - cert-manager/
  - external-secrets/
  - postgresql/
  - vault/
  - prometheus/