apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: aws-load-balancer-controller-base

labels:
- pairs:
    app.kubernetes.io/name: aws-load-balancer-controller
    app.kubernetes.io/component: ingress-controller
    app.kubernetes.io/part-of: kubernetes-infrastructure
    app.kubernetes.io/managed-by: kustomize

resources:
  - deployment.yaml
  - service.yaml
  - serviceaccount.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - role.yaml
  - rolebinding.yaml
  - configmap.yaml
  - ingressclass.yaml